.logo {
    border-radius: 50%;
    margin-top: .5rem;
}
body {
    background-color: #fba75b;
    font-family: 'Baloo 2', sans-serif;
    color: black;
}

a:link {
    font-size: 130%;
}

.card {
    border: none;
    background-color: #fba75b;
}

.card-title {
    color: white;
    text-shadow:1px 1px #333;
}

h1 {
    color: white;
    text-shadow:2px 2px #333;
    
}

#chefcard {
    flex-direction: row;
    background-color: rgb(251, 167, 91);
}

#chefcard img {
    width: 50%;
}

.card-img-top {
    height: 30vw;
    object-fit: cover;
}

.bgimage {
    width:100%;
    height:100vh;
    background: url('https://images.unsplash.com/photo-1559314809-0d155014e29e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  #lowerhero {
      background-image: url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
      height: 100vh;
    }

.jumbotron {
    background-color: rgb(251, 167, 91);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow:2px 2px #333;
  }

  .btn {
      background-color: #ca615c;
      border: 1px solid black;
      color: white;
  }

  /* My borders showing different div */
/*.col, div[class^="col-"], label[class^="col-"] {
    border: 1px solid red;
    margin: 2px; 
    
} 

.row {
    border: 3px solid blue;
    padding: 2px;
    margin: 5px;
}

.container {
    border: 3px solid green;
    padding: 2px;
    margin: 5px;    
}

.media {
    border: 3px solid yellow;
    padding: 2px;
    margin: 5px;       
}  

.card {
    border: 3px solid purple;
    padding: 2px;
    margin: 5px;    
} 

.jumbotron img {
    border: 3px solid black;
}